@model CartItemVM

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Cart Item</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row" enctype="multipart/form-data">
            <input asp-for="cartItem.CartItemId" hidden />
            <div class="row">
                <div class="col-10">
                    <div class="border p-3">
                        

                        <div class="form-floating py-2 col-12">
                            <select asp-for="@Model.cartItem.ProductId" asp-items="@Model.ProductList" class="form-select border-0 shadow">
                                <option disabled selected>--Select Product--</option>
                            </select>
                            <label asp-for="cartItem.ProductId" class="ms-2"></label>
                            <span asp-validation-for="cartItem.ProductId" class="text-danger"></span>
                        </div>


                        <div class="form-floating py-2 col-12">
                            <input asp-for="@Model.cartItem.Quantity" class="form-control border-0 shadow" />
                            <label asp-for="@Model.cartItem.Quantity" class="ms-2"></label>
                            <span asp-validation-for="@Model.cartItem.Quantity" class="text-danger"></span>
                        </div>

                        
                        <div class="row pt-2">
                            <div class="col-6 col-md-3">
                                    <button type="submit" class="btn btn-primary form-control">Create</button>
                            </div>
                            <div class="col-6 col-md-3">
                                <a asp-controller="Home" asp-action="Index" class="btn btn-outline-primary border  form-control">
                                    Back to List
                                </a>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

        </form>
    </div>
</div>




@section Scripts {
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons  lists   table visualblocks wordcount',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough |  align lineheight | numlist bullist indent outdent',
        });
    </script>
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}